{% extends 'layout/layout.html.twig' %}

{% block title %}CallcenterBundle:Department:create{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>Deparment management</h2>           
    </div>
    <div class="row">
        <div class="col-md-6 ">     
            <div class="panel panel-default">
                <div class='panel-heading'> departments</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>    
                    <div class="form-group">
                        {{ form_row(form.costcenter) }}
                    </div>                      
                    <button type="submit" class="btn btn-primary">Save</button>
                    {{ form_end(form) }}
                </div>
            </div>            
        </div>
        <div class="col-md-6 ">       
            <h5>Departments</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> name</th>
                        <th> cost center </th>

                    </tr>
                </thead>
                <tbody>
                    {% for dept in depts %}
                        <tr>
                            <td>{{dept.name}}</td>
                            <td>{{dept.costcenter.name}}</td>
                            <td>
                                <div class="btn-group">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                        <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 300px;">                                          
                                        <li><a href="{{ path('department_delete', {'id': dept.id}) }}">Delete</a></li>  
                                        </ul>
                                </div>
                            </td>                            
                        </tr>
                    {%endfor%}    
                </tbody>        
            </table>   
        </div>                 
    </div>
{% endblock %}
