{% extends 'layout/layout.html.twig' %}

{% block title %}Employee:index{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>Employee Management</h2>           
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 ">            
            <a href="{{ url('employee_create')}}" class="btn btn-primary">New</a> 
        </div>
    </div>    
    <div class="row">
        <div class="col-md-10 col-md-offset-1 ">                        
            <table id="employee" class="table table-striped">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> firstname </th>
                        <th> middlename </th>
                        <th> lastname </th>
                        <th> position</th>
                        <th> department</th>
                        <th> hire date </th>
                        <th> supervised by </th>
                        <th> Responsible for </th>
                        <th> Options </th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in staff %}
                        <tr>
                            <td>{{employee.id}}</td>
                            <td>{{employee.firstname}}</td>
                            <td>{{employee.middlename}}</td>
                            <td>{{employee.lastname}}</td>
                            <td>{% if employee.position %}{{employee.position.name }}{% endif %}</td>                           
                            <td>{% if employee.department %}{{employee.department.name }}{% endif %}</td>              
                            <td>{{employee.hiredate|date("m/d/Y") }}</td>
                            <td>{% if employee.supervisor %}{{employee.supervisor.firstname }}&nbsp;{{employee.supervisor.lastname}}{% endif %}</td> 
                            <td>
                                {% if employee.subordinate|length > 0%}                                
                                    <div class="btn-group">
                                        <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                            subordinates<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 300px;">        
                                            {% for emp in employee.subordinate %}
                                                <li>{{emp.firstname}}&nbsp;{{emp.lastname}}</li> 
                                                {% endfor %}    
                                        </ul>
                                    </div>
                                {% endif %}                                        
                            </td> 
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
                                        <span class='glyphicon glyphicon-plus'></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu stay-open pull-right" role="menu" style="padding: 15px; min-width: 300px;">                                          
                                        <li><a href="{{ path('employee_show', {'id': employee.id}) }}">View</a></li>  
                                        <li><a href="{{ path('employee_edit', {'id': employee.id}) }}">Edit</a></li>  
                                        <li><a href="{{ path('employee_delete', {'id': employee.id}) }}">Delete</a></li>  
                                    </ul>
                                </div>
                            </td>                            
                        </tr>
                    {%endfor%}    
                </tbody>        
            </table>   
        </div>        
    </div>            
{% endblock %}
{% block javascripts %}

{% endblock %}